@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 10px;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bg-navbar {
  position: relative !important;
}

.bg-navbar::before {
  content: "";
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-image: url("https://res.cloudinary.com/dleikmnsf/image/upload/v1703313317/jorgen-hendriksen-nlMXEfw9xqQ-unsplash_jqhaal.jpg") !important;
  background-position: center 40% !important;
  background-size: cover !important;
  filter: brightness(
    25%
  ) !important; /* Adjust the brightness value as needed */
  z-index: -1 !important;
}

.bg-footer {
  position: relative;
}

.bg-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dleikmnsf/image/upload/v1703313317/jorgen-hendriksen-nlMXEfw9xqQ-unsplash_jqhaal.jpg");
  background-position: center 60%;
  background-size: cover;
  filter: brightness(25%); /* Adjust the brightness value as needed */
  z-index: -1;
}

.hoverside-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hoverside-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 2px;
  left: 0;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.hoverside-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  background-color: rgb(96 165 250);
}
